/* 共通 */
h1{
    font-family: "Yusei Magic", sans-serif;
    font-size: 80px;
    margin: 0 auto;
    text-align: center;
}

/* タイトル画面 */
.taitoru{
    background-image: url(/img/taitoru.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1200px;
    background-color: antiquewhite;
}

.taitoru-mozi{
    text-align: center;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 900px;
    margin: 400px auto;
    margin-bottom: 0px;
}

.start {
    margin-top: 30px;
    display: inline-block;
    width: 250px;
    text-align: center;
    text-decoration: none;
    line-height: 60px;
    outline: none;
    color: #FFFFFF;
    background-color: #1B85FB;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .start:hover {
    color: #FFFFFF;
    background-color: #1B85FB;
    opacity: 0.7;
  }  

/* ゲーム画面 **********************************************************************************/
.gamebody{
    text-align: center;
    font-size: 2rem;
}

/* リセット、ホームボタン */
.restart,.home{
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    font-size: 20px;
    margin-top: 20px;
}

.restart:hover {
    background: #67c5ff;
    color: white;
  }

.home:hover {
    background: #67c5ff;
    color: white;
}  
/***************************************************/
.data{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 20px;
}

.foodimg{
    height: 200px;
}

.risk{
    font-size: 2rem;
}

#eatBtn{
    font-family: "Yusei Magic", sans-serif;
    background-color: rgb(255, 0, 119);
    color: white;
    border-radius: 8px;
    font-size: 50px;
    width: 200px;
    margin: 20px;
}

#skipBtn{
    font-family: "Yusei Magic", sans-serif;
    background-color: rgb(0, 26, 255);
    color: white;
    border-radius: 8px;
    font-size: 50px;
    width: 200px;
    margin: 20px;
}

#nextBtn{
    font-family: "Yusei Magic", sans-serif;
    background-color:dimgrey;
    color: white;
    border-radius: 8px;
    font-size: 50px;
    width: 200px;
    margin: 20px;
}

#message{
    font-family: "Yusei Magic", sans-serif;
    font-size: 30px;
}